body{
    background-color: #043f47;
}
.container-title{
    display: flex;
    justify-content: center;
}
.title{
    width: 400px;
    height: 150px;
    margin-top: 30px;
}
.search{
    width: 80%;
    height: 50px;
    margin-top: 30px; 
    background-color: #407772;
    font-size: 30px;
    color: white;
    border-style: none;
    padding-left: 15px;
}
.container-icon{
    margin-top: 40px;
    margin-left: -40px;
}
::placeholder{
    color: white;
}